{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}


{% block body_block %}

    <div class="page-header">
                <h1>About</h1>
            </div>
    <p style="color: red"> Вы заходили к нам: {{ visits }} раза</p>

    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">Panel heading</div>
      <div class="panel-body">
        <p>Все необходимые дела</p>
      </div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Cras justo odio</li>
        <li class="list-group-item list-group-item-info">Cras justo odio</li>
        <li class="list-group-item list-group-item-info">Cras justo odio</li>
        <li class="list-group-item list-group-item-info">Cras justo odio</li>
        <li class="list-group-item list-group-item-info">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>

    <h1>says...</h1>
    hello world! <p>It is about page</p><strong>{{ boldmessage }}</strong><br />
    <img src = '{% static "images/images.jpg" %}' alt="Picture"/> <!-- New line -->
<button id="about-btn"> Click Me - I'm Javascript on Speed</button>

<p>This is a example</p>

<p>This is another example</p>
{% endblock %}
