{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}


{% block body_block %}

    <div class="page-header">
                <h1>About</h1>
            </div>
    <p style="color: red"> Вы заходили к нам: {{ visits }} раза</p>

    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">Current affairs</div>
      <div class="panel-body">
        <p>Все необходимые дела</p>
      </div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Дописать блок после блока категории</li>
        <li class="list-group-item list-group-item-info">Elastic посмотреть</li>
        <li class="list-group-item list-group-item-info">Добавить изменения страниц</li>
        <li class="list-group-item list-group-item-info">Добавить замочки, чтобы в профили было понятно что блок самому user</li>
        <li class="list-group-item list-group-item-info">Валидацию проверить</li>
      </ul>
    </div>

{% endblock %}
