{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}


{% block body_block %}
        {% if user.is_authenticated %}
        <h1>Rango says... hello <span style="color: red">{{ user.username }}</span>!</h1>
        {% else %}
        <h1>Rango says... hello world!</h1>
        {% endif %}

        {% if categories %}
        <h2>The most likable categories:</h2>
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li>
                    <a href="{% url 'category' category.slug %}">{{ category.name }}</a>
                    ({{ category.likes }} likes)
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        {% if pages %}
        <h2>The most viewed pages:</h2>
            <ul>
                {% for page in pages %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                    ({{ page.views }} views)
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
{% endblock %}