{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ user.username }}{% endblock %}


{% block body_block %}
        <div class="page-header">
                <h3>User <small>{{ current_user.username }}</small></h3>
        </div>
        <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                {% if profile.picture %}
              <img src="/media/{{profile.picture}}"/>
                {% else %}
              <img src='{% static "images/no-avatar-male.jpg" %}'/>
                {% endif %}
            </div>
        </div>
            <div class="panel panel-default">
                  <div class="panel-body">
                    <p><strong>Name:</strong> {{current_user.username}}</p>
                    <p><strong>Email:</strong> {{current_user.email}}</p>
                      {% if profile%}
                      {% if profile.website %}
                      <p><strong>Web site:</strong> {{profile.website}}</p>
                      {% endif %}
                      {% endif %}
                  </div>
                    {% if current_user == user %}
                    <a href="{% url 'add_profile' %}">
                    <button type="button" class="btn btn-primary" style = "margin: 10px; ">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        Change information
                    </button>
                    </a>
                    {% endif %}
                <h3 style="text-align: center; color: #7e86ed">Own: </h3>
                <div class="list-group">
                    {% for cat in cats %}
                            {% if cat.open or current_user == user %}
                                <a href="{% url 'category' cat.slug %}" class="list-group-item">
                                    <strong>{{ cat.name }}</strong></a>
                            {% else %}
                                <a href="#" class="list-group-item disabled">
                                    <span class="glyphicon glyphicon-lock" aria-hidden="true"> </span>
                                {{cat.name}}
                                </a>
                            {% endif %}
                    {% empty %}
                        <li>This user don't have any own categories.</li>
                    {% endfor %}
                    </ul>
                </div>
                </div>
        </div>
{% endblock %}